<div id="<%= dom_id post %>">
    <p>
        <strong>The Title:</strong>
         <%= post.title %>
    </p>
    <p>
        <strong>Content of Post:</strong>
         <%= post.content %>
    </p>
</div>